.myselfff{

    border: 2px solid wheat;
    margin: 10px auto;
    width: 10%;
    padding: 15px;
    font-size: large;
    font-style: italic;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(174, 223, 223);
    /* border: 2px solid burlywood;
    padding: 5px;
    width: 10%;
    margin: 10px 550px; */
} 
.all img{

}
.linkkk{

}
.myp{
    border: 2px solid rgb(219, 210, 210) ;
    padding: 10px;
    background-color: bisque;
    width: 50%;
    margin: 10px 310px;
}
.m1{
    top: 20px;
    left: 20px;
    width: 200px;
    height: 300px;
}
.m2{
    top: 20px;
    left: 20px;
    width: 200px;
    height: 300px;
}
.m3{
    top: 20px;
    left: 20px;
    width: 200px;
    height: 300px;
}
.m4{
    top: 20px;
    left: 20px;
    width: 200px;
    height: 300px;
}
.m5{
    top: 20px;
    left: 20px;
    width: 200px;
    height: 300px;
}
.m6{
    top: 20px;
    left: 20px;
    width: 200px;
    height: auto;
}